@font-face {
  font-family: "allerLT";
  src: url("../fonts/Aller_Lt.ttf");
}

@font-face {
  font-family: "Tajawal";
  src: url("../fonts/Tajawal-Medium.ttf");
}

.acs-tools-page .page .content .content-container .content-container-inner {
  width: 100%;
}

.acs-tools-page .page .content .content-container {
  padding-top: 0;
}

input,
option,
select,
button {
  font-family: "Tajawal";
}

body {
  font-family: "Tajawal";
  margin: 0;
  background-color: #f5f5f5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/** Common template **/
.left-nav {
  background-color: #000000;
  color: #ffffff;
  height: 100%;
  position: fixed;
  width: 340px;
}

.left-nav__header, .left-nav__image {
  text-align: center;
}

.left-nav__header {
  padding: 30px 0 80px 0;
}

.left-nav__header img {
  height: 130px;
  width: 130px;
}

.left-nav__header p {
  font-size: 25px;
  padding-top: 8px;
  font-weight: bold;
}

.left-nav__image img {
  width: calc(100% - 80px);
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.left-nav__image p {
  font-size: 19px;
  padding-top: 8px;
  color: #d2d2d2;
}

.left-nav__timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-nav__timeline a {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #7b7b7b;
  margin: 0 5px;
}

.left-nav__timeline .active {
  background-color: #ffffff;
  color: #000000;
  height: 18px;
  width: 18px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  text-decoration: none;
}

.wrapper {
  height: 100vh;
}

.wrapper .page-content {
  width: calc(100% - 340px);
  margin-left: 340px;
  height: 100%;
}

.wrapper .page-content .section-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  color: #3f3f3f;
  font-size: 28px;
}

.keyword__input,
.brand-input {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 4rem 1rem 1.8rem;
  font-size: 20px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.keyword__input:hover, .keyword__input:focus,
.brand-input:hover,
.brand-input:focus {
  -webkit-box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1);
}

.brand-btn {
  padding: 10px 25px;
  background-color: #6a6a6a;
  color: #ffffff;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.grid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.grid .row .item {
  width: 150px;
}

.grid .row .item__image {
  width: 110px;
  height: 110px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background: #fff;
}

.grid .row .item__image.padding img:not(.overlay__image) {
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0.65rem;
}

.grid .row .item__image img {
  width: 100%;
  height: 100%;
}

.grid .row .item__image img:not(.overlay__image) {
  -o-object-fit: cover;
     object-fit: cover;
}

.grid .row .item__image .overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.grid .row .item__image .overlay img {
  opacity: 0.8;
  width: 45%;
}

.grid .row .item__name {
  display: block;
  text-align: center;
  margin-top: 0.8rem;
  color: #6a6a6a;
  font-weight: normal;
}

.grid .row .item.selected .item__image .overlay {
  opacity: 1;
}

.grid.centered {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  padding-top: 4rem;
}

.grid.centered .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid.centered .row .item {
  margin: 0 1.5rem;
}

.action-buttons {
  width: 100%;
}

.action-buttons .action-button {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 70px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.action-buttons .action-button:hover {
  opacity: 0.8;
}

.action-buttons .action-button.hidden {
  opacity: 0;
  pointer-events: none;
}

.padding {
  padding: 2% 5%;
}

/** Calendar Event Page**/
.calendar-input-container .page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calendar-input-container #calendarEvents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 20px;
}

.calendar-input-container #sidebarToggler,
.calendar-input-container .event-icon {
  display: none;
}

.calendar-input-container .calendar-sidebar,
.calendar-input-container #calendarEvents {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #6a6a6a;
  position: relative;
}

.calendar-input-container .calendar-sidebar {
  padding-top: 3.6rem;
}

.calendar-input-container .calendar-sidebar .calendar-months .month {
  text-align: center;
}

.calendar-input-container .calendar-sidebar .calendar-months .month:hover {
  background-color: #bcbcbc;
}

.calendar-input-container .calendar-sidebar .calendar-months .active-month {
  background-color: #bcbcbc;
  color: #ffffff;
}

.calendar-input-container .calendar-sidebar .calendar-year {
  padding-top: 0px;
  padding-bottom: 8px;
}

.calendar-input-container #calendarEvents .event-wrapper {
  text-align: center;
}

.calendar-input-container #calendarEvents .event-wrapper .myBtn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.calendar-input-container #calendarEvents .icon-button {
  width: 15px;
  height: 15px;
}

.calendar-input-container #calendarEvents .icon-button .chevron-arrow-right,
.calendar-input-container #calendarEvents .icon-button .chevron-arrow-left {
  border-right: 3px solid #6a6a6a;
  border-bottom: 3px solid #6a6a6a;
}

.calendar-input-container #calendarEvents .calendar-inner,
.calendar-input-container #calendarEvents .calendar-events {
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.calendar-input-container #calendarEvents .calendar-inner {
  padding-right: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  padding-top: 4rem;
  padding-bottom: 0;
}

.calendar-input-container #calendarEvents .calendar-inner th[colspan="7"] {
  font-size: 23px;
  color: #6a6a6a;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.calendar-input-container #calendarEvents .calendar-inner .calendar-today {
  background-color: #000000;
}

.calendar-input-container #calendarEvents .calendar-inner .calendar-today:hover {
  background-color: #424242;
}

.calendar-input-container #calendarEvents .calendar-events {
  position: relative;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-top: 65px;
}

.calendar-input-container #calendarEvents .calendar-events .continue-btn {
  display: none;
}

.calendar-input-container #calendarEvents .calendar-events .event-header {
  margin-bottom: 30px;
}

.calendar-input-container #calendarEvents .calendar-events .event-header p {
  color: #565656;
  font-size: 25px;
}

.calendar-input-container #calendarEvents .calendar-events .event-container:hover {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.calendar-input-container #calendarEvents .calendar-events .event-container .event-info {
  padding: 10px 25px;
  background-color: #6a6a6a;
  color: #ffffff;
  border-radius: 30px;
}

.calendar-input-container #calendarEvents .calendar-events .event-container .event-info p {
  font-size: 20px;
}

.calendar-input-container #calendarEvents .event-selected .event-info {
  position: relative;
  padding-left: 42px !important;
}

.calendar-input-container #calendarEvents .event-selected .event-info::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  background-image: url("/images/checked-circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 12px;
}

.calendar-input-container #calendarEvents .event-selected .continue-btn {
  display: block;
}

.calendar-input-container #calendarEvents .uncheck-event .event-info {
  padding-left: 25px !important;
}

.calendar-input-container #calendarEvents .uncheck-event .event-info::before {
  content: "";
  background-image: none;
}

#calendar .section-title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  padding-top: 2%;
  margin-bottom: 3rem;
}

#calendar tr.calendar-body .calendar-day,
#calendar tr.calendar-header .calendar-header-day {
  padding: 7px 10px;
}

/** Products page**/
#productPage .section-title {
  margin-bottom: 1rem;
}

#productPage .noProduct {
  display: none;
  text-align: center;
  margin-top: 5rem;
}

#productPage .grid .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#productPage .grid .item {
  height: 174px;
  margin: 0 12px;
}

#productPage .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.5rem;
}

#productPage .search__category {
  display: inline-block;
  height: 36px;
  border: 1px solid #6a6a6a;
  border-radius: 2px;
  color: #6a6a6a;
  padding: 0 15px;
}

#productPage .search__input {
  height: 36px;
  width: 310px;
  border: 1px solid #6a6a6a;
  border-radius: 2px;
  position: relative;
  border-left: none;
}

#productPage .search__input input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: #6a6a6a;
  padding: 0 35px 0 15px;
}

#productPage .search__input .search-icon {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 16px;
  cursor: pointer;
}

#productPage .product {
  width: 23%;
  background: #fff;
  cursor: pointer;
}

#productPage .product__image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}

#productPage .product__details {
  padding: 0px 10px 8px;
  position: relative;
  height: 75px;
}

#productPage .product__details .checked-icon {
  position: absolute;
  width: 36px;
  right: 10px;
  top: -26px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}

#productPage .product__details__title {
  font-weight: normal;
}

#productPage .product__details__description {
  font-size: 12px;
}

#productPage .product__details__footer {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#productPage .product__details__footer .price {
  font-size: 14px;
}

#productPage .product__details__footer .category {
  font-size: 11px;
  padding: 2px 8px;
  border-radius: 25px;
  border: 1px solid #000;
}

#productPage .product.selected .checked-icon {
  opacity: 1;
}

/** Search page**/
#keywordPage .keyword {
  display: block;
  margin: 0 auto;
  width: 40rem;
  height: 3rem;
  position: relative;
}

#keywordPage .keyword__add-btn {
  width: 50px;
  position: absolute;
  right: -85px;
  cursor: pointer;
  top: 4px;
}

#keywordPage .keyword__input-wrapper {
  position: relative;
  margin-bottom: 25px;
}

#keywordPage .keyword__delete-btn {
  width: 25px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
}

/** Output page**/
#outputPage h2 {
  margin-bottom: 2.5rem;
}

#outputPage .flipster {
  overflow-y: hidden;
}

#outputPage .flipster--carousel .flipster__item--past-1,
#outputPage .flipster--carousel .flipster__item--future-1 {
  opacity: .5;
}

#outputPage .score-details {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#outputPage .score-details .target,
#outputPage .score-details .progress {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#outputPage .score-details .progress {
  margin-top: 30px;
}

#outputPage .score-details .progress .perc {
  position: absolute;
  display: none;
  top: 0;
  line-height: 25px;
  right: 7px;
  font-size: 15px;
}

#outputPage .score-details .progress .container {
  position: relative;
  width: 90%;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 19px 5px;
}

#outputPage .score-details .progress .container:after {
  position: absolute;
  top: 0;
  right: 10px;
  line-height: 30px;
}

#outputPage .score-details .progress .fillmult {
  height: 100%;
  width: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#outputPage .score-details .progress .fillmult span {
  padding-left: 10px;
}

#outputPage .score-details .progress .fillmult span b {
  font-weight: normal;
  font-size: 13px;
  position: absolute;
  left: 10px;
  top: -2px;
}

#outputPage .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

#outputPage .tabs .item {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border: 2px solid #e4e4e4;
}

#outputPage .tabs .item.active {
  background: #313131;
  border: 2px solid #94b7d4;
}

#outputPage .tabs .item img {
  width: 60%;
  height: 60%;
}

#outputPage .tabs .hidden {
  display: none;
}

#outputPage .taglines .row .tag {
  width: 500px;
  height: auto;
  padding: 1rem;
  margin: 1.2rem;
  background: #fff;
  border-radius: 10px;
  border: 2px solid #e4e4e4;
}

#outputPage .taglines .row .tag h3 {
  font-size: 20px;
}

#outputPage .taglines .row .tag-input {
  position: relative;
  display: none;
}

#outputPage .taglines .row .tag-input input {
  width: 80%;
  margin: 0 auto;
  display: block;
  padding: 3px 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #7b7b7b;
  padding-right: 30px;
}

#outputPage .taglines .row .tag-input img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 54px;
  cursor: pointer;
}

#outputPage .taglines .row .tag .title {
  text-align: center;
  color: dimgray;
  font-weight: normal;
}

#outputPage .taglines .row .tag .actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.4rem;
}

#outputPage .taglines .row .tag .actions img {
  width: 30px;
  height: 30px;
  margin: 0 0.4rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.7;
}

#outputPage .taglines .row .tag .actions img:hover {
  opacity: 1;
}

#outputPage .taglines .row .edit-mode .tag-input {
  display: block;
}

#outputPage .taglines .row .edit-mode .title {
  display: none;
}

#outputPage .taglines .row .edit-mode .actions {
  margin-top: 17px;
}

#outputPage.email-active .email-content {
  display: block;
}

#outputPage.email-active .sms-content,
#outputPage.email-active .push-content {
  display: none !important;
}

#outputPage.sms-active .sms-content {
  display: block;
}

#outputPage.sms-active .email-content,
#outputPage.sms-active .push-content {
  display: none !important;
}

#outputPage.push-active .push-content {
  display: block;
}

#outputPage.push-active .email-content,
#outputPage.push-active .sms-content {
  display: none !important;
}

/** Output score chart **/
canvas {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 150px;
  -webkit-box-shadow: -5px 5px 6px -2px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 5px 6px -2px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.target {
  font-weight: 600;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0 20px;
}

#tierPointsValue {
  line-height: 175px !important;
}

.target-chart {
  border-radius: 50%;
  background-size: cover;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: inset 0 0 0 35px white;
          box-shadow: inset 0 0 0 35px white;
  position: relative;
  margin: auto;
}

.target-percentage {
  color: #326ec8;
  font-size: 20px;
}

.points-random {
  margin-top: -150px;
  font-size: 14px;
  font-weight: 200;
}

.totalTierPoints {
  font-size: 30px;
  margin-top: -8px;
}

/** Modal **/
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 30vh;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-header {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
}

.modal-header h2 {
  font-size: 15px;
  font-weight: normal;
}

.modal-body {
  position: relative;
  padding: 20px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-body p {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.modal-body span {
  position: absolute;
  color: red;
  left: 25px;
  top: 106px;
  font-size: 14px;
  display: none;
}

.modal-body .event-name {
  padding: 8px 16px;
  font-size: 17px;
}

.modal-body button {
  font-size: 15px;
  margin-top: 20px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  line-height: 0;
  padding-top: 10px;
}

#confirmTagline {
  padding-top: 35vh;
}

#confirmTagline .modal-header h2 {
  text-align: center;
}

#confirmTagline .modal-body button {
  margin-top: 10px;
}
/*# sourceMappingURL=main.css.map */