$bg-gray: #f5f5f5;
$gray: #7b7b7b;
$font-gray: #6a6a6a;
$blue: #326ec8;
$sidebar-width: 340px;

@font-face {
  font-family: "allerLT";
  src: url("../fonts/Aller_Lt.ttf");
}

@font-face {
  font-family: "Tajawal";
  src: url("../fonts/Tajawal-Medium.ttf");
}

.acs-tools-page .page .content .content-container .content-container-inner {
  width: 100%;
}

.acs-tools-page .page .content .content-container {
  padding-top: 0;
}

input,
option,
select {
  font-family: "Tajawal";
}

body {
  font-family: "Tajawal";
  margin: 0;
  background-color: $bg-gray;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/** Common template **/
.left-nav {
  background-color: #000000;
  color: #ffffff;
  height: 100%;
  position: fixed;
  width: $sidebar-width;

  &__header,
  &__image {
    text-align: center;
  }

  &__header {
    padding: 30px 0 80px 0;

    img {
      height: 130px;
      width: 130px;
    }

    p {
      font-size: 25px;
      padding-top: 8px;
      font-weight: bold;
    }
  }

  &__image {
    img {
      width: calc(100% - 80px);
      height: 200px;
      object-fit: contain;
    }

    p {
      font-size: 19px;
      padding-top: 8px;
      color: #d2d2d2;
    }
  }

  &__timeline {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    align-items: center;

    a {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: $gray;
      margin: 0 5px;
    }

    .active {
      background-color: #ffffff;
      color: #000000;
      height: 18px;
      width: 18px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      text-decoration: none;
    }
  }
}

.wrapper {
  height: 100vh;

  .page-content {
    width: calc(100% - #{$sidebar-width});
    margin-left: $sidebar-width;
    height: 100%;

    .section-title {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 3rem;
    }
  }
}

.contine-btn {
  background-color: $blue;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 270px;
  box-shadow: 0px 3px 6px #656565;
  cursor: pointer;
  display: none;

  i {
    color: white;
    font-size: 34px;
  }
}

.grid {
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .item {
      width: 150px;

      &__image {
        width: 110px;
        height: 110px;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        background: #fff;

        &.padding {
          img:not(.overlay__image) {
            object-fit: contain;
            padding: 0.65rem;
          }
        }

        img {
          width: 100%;
          height: 100%;

          &:not(.overlay__image) {
            object-fit: cover;
          }
        }

        .overlay {
          background: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s;
          opacity: 0;

          img {
            opacity: 0.8;
            width: 45%;
          }
        }
      }

      &__name {
        display: block;
        text-align: center;
        margin-top: 0.8rem;
        color: #6a6a6a;
        font-weight: normal;
      }

      &.selected {
        .item__image {
          .overlay {
            opacity: 1;
          }
        }
      }
    }
  }

  &.centered {
    max-width: 80%;
    display: block;
    margin: 0 auto;
    padding-top: 4rem;

    .row {
      justify-content: center;

      .item {
        margin: 0 1.5rem;
      }
    }
  }
}

.action-buttons {
  width: 100%;

  .action-button {
    position: fixed;
    right: 5%;
    bottom: 5%;
    width: 70px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.padding {
  padding: 2% 5%;
}

/** Calendar Event Page**/
.calendar-input-container {
  .page-content {
    display: flex;
    align-items: center;
  }

  #calendarEvents {
    display: flex;
    margin: 0;
  }

  #sidebarToggler,
  .event-icon {
    display: none;
  }

  .calendar-sidebar,
  #calendarEvents {
    background-color: transparent;
    box-shadow: none;
    color: $font-gray;
    position: relative;
  }

  .calendar-sidebar {
    .calendar-months {
      .month {
        text-align: center;

        &:hover {
          background-color: #bcbcbc;
        }
      }

      .active-month {
        background-color: #bcbcbc;
        color: #ffffff;
      }
    }
  }

  #calendarEvents {
    .icon-button {
      width: 15px;
      height: 15px;

      .chevron-arrow-right,
      .chevron-arrow-left {
        border-right: 3px solid $font-gray;
        border-bottom: 3px solid $font-gray;
      }
    }

    .calendar-inner,
    .calendar-events {
      background-color: transparent;
      padding-left: 20px;
      padding-right: 20px;
    }

    .calendar-inner {
      padding-right: 0;
      box-shadow: none;
      flex: 1;
      margin: 0;

      th[colspan="7"] {
        text-transform: capitalize;
      }

      .calendar-today {
        background-color: #000000;

        &:hover {
          background-color: #424242;
        }
      }
    }

    .calendar-events {
      position: relative;
      width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;

      .event-header {
        margin-bottom: 30px;

        p {
          color: #000000;
          font-size: 28px;
        }
      }

      .event-container {
        &:hover {
          background-color: transparent;
          box-shadow: none;
        }

        .event-info {
          padding: 10px 25px;
          background-color: #6a6a6a;
          color: #ffffff;
          border-radius: 30px;

          p {
            font-size: 20px;
          }
        }
      }
    }

    .event-selected {
      .event-info {
        position: relative;
        padding-left: 42px !important;

        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          left: 10px;
          height: 25px;
          width: 25px;
          background-image: url("/images/checked-circle.png");
          background-size: contain;
          background-repeat: no-repeat;
          top: 13px;
        }
      }

      .contine-btn {
        display: flex;
      }
    }

    .uncheck-event {
      .event-info {
        padding-left: 25px !important;

        &::before {
          content: "";
          background-image: none;
        }
      }
    }
  }
}

/** Products page**/
#productPage {
  .section-title {
    margin-bottom: 1rem;
  }

  .search {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.5rem;

    &__category {
      display: inline-block;
      height: 36px;
      border: 1px solid #6a6a6a;
      border-radius: 2px;
      color: #6a6a6a;
      padding: 0 15px;
    }

    &__input {
      height: 36px;
      width: 310px;
      border: 1px solid #6a6a6a;
      border-radius: 2px;
      position: relative;
      border-left: none;

      input {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        color: #6a6a6a;
        padding: 0 35px 0 15px;
      }

      .search-icon {
        position: absolute;
        right: 10px;
        top: 8px;
        width: 16px;
        cursor: pointer;
      }
    }
  }

  .product {
    width: 23%;
    background: #fff;
    cursor: pointer;

    &__image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      margin: 0;
    }

    &__details {
      padding: 0px 10px 8px;
      position: relative;
      height: 75px;

      .checked-icon {
        position: absolute;
        width: 36px;
        right: 10px;
        top: -26px;
        opacity: 0;
        transition: all 0.3s;
        pointer-events: none;
      }

      &__title {
        font-weight: normal;
      }

      &__description {
        font-size: 12px;
      }

      &__footer {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
          font-size: 14px;
        }

        .category {
          font-size: 11px;
          padding: 2px 8px;
          border-radius: 25px;
          border: 1px solid #000;
        }
      }
    }

    &.selected {
      .checked-icon {
        opacity: 1;
      }
    }
  }
}

/** Search page**/
#keywordPage {
  .keyword {
    display: block;
    margin: 5rem auto 0;
    width: 40rem;
    height: 3rem;

    &__input {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 1.8rem 4rem 1.8rem 1.8rem;
      font-size: 20px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
      border: none;
      border-radius: 4px;
      transition: all 0.3s;

      &:hover,
      &:focus {
        box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

/** Output page**/
#outputPage {

  .score-details {
    display: none;
    margin-top: 100px;
    position: relative;

    &>h3 {
      position: absolute;
      top: -45px;
      left: 50%;
      transform: translateX(-50%);
      color: #6d6d6d;
      font-size: 23px;
    }

    .target,
    .progress {
      flex: 1;
    }

    .progress {
      margin-top: 5px;

      .perc {
        position: absolute;
        display: none;
        top: 0;
        line-height: 30px;
        right: 10px;
      }

      .container {
        position: relative;
        width: 80%;
        height: 30px;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 4px;
        margin: 20px 0;
      }

      .container:after {
        position: absolute;
        top: 0;
        right: 10px;
        line-height: 30px;
      }

      .fillmult {
        height: 100%;
        width: 0;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 4px;
        line-height: 30px;
        text-align: left;
        color: #ffffff;
      }

      .fillmult span {
        padding-left: 10px;

        b {
          font-weight: normal;
        }
      }
    }
  }

  .sms-content,
  .push-content {
    display: none;
  }

  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;

    .item {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: rgb(248, 248, 248);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1.5rem;
      transition: all 0.3s;
      cursor: pointer;
      border: 2px solid rgb(228, 228, 228);

      &.active {
        background: #313131;
        border: 2px solid rgb(148, 183, 212);
        cursor: default;
      }

      img {
        width: 60%;
        height: 60%;
      }
    }
  }

  .taglines {
    margin-top: 2.5rem;

    .row {
      display: flex;
      justify-content: center;

      .tag {
        width: 300px;
        height: 120px;
        padding: 1rem;
        margin: 1.2rem;
        background: #fff;
        border-radius: 10px;
        border: 2px solid rgb(228, 228, 228);

        .title {
          text-align: center;
          color: rgb(105, 105, 105);
          font-weight: normal;
        }

        .actions {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 1.4rem;

          img {
            width: 30px;
            height: 30px;
            margin: 0 0.4rem;
            cursor: pointer;
            transition: all 0.3s;
            opacity: 0.7;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

#outputPage.show-progress {
  .tagline-details {
    display: none;
  }

  .score-details {
    display: flex;
  }
}

#outputPage.mail-active {
  .mail-content {
    display: block;
  }

  .sms-content,
  .push-content {
    display: none;
  }
}

#outputPage.sms-active {
  .sms-content {
    display: block;
  }

  .mail-content,
  .push-content {
    display: none;
  }
}

#outputPage.push-active {
  .push-content {
    display: block;
  }

  .mail-content,
  .sms-content {
    display: none;
  }
}

/** Output score chart **/
canvas {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 150px;
  box-shadow: -5px 5px 6px -2px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.target {
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0 50px;
}

#tierPointsValue {
  line-height: 175px !important;
}

.target-chart {
  border-radius: 50%;
  background-size: cover;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  box-shadow: inset 0 0 0 35px white;
  position: relative;
  margin: auto;
}

.target-percentage {
  color: $blue;
  font-size: 20px;
}

.points-random {
  margin-top: -150px;
  font-size: 14px;
  font-weight: 200;
}

.totalTierPoints {
  font-size: 30px;
}